<!-- v-if와 v-show https://kr.vuejs.org/v2/guide/conditional.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 기초</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
      <button @click="toggleShow">Toggle</button>
      <!-- <div v-if="show">Yes</div> -->
      <!-- <div v-show="show">Yes</div> -->
      <template v-if="show">
        <div>1</div>
        <div>2</div>
        <div>3</div>
      </template>
      <div v-else>No</div>

      <br>

      <div v-if="number === 1">number: 1</div>
      <div v-else-if="number === 2">number: 2</div>
      <div v-else>number: else</div>
      <button @click="increaseNumber">Increase</button> {{ number }}
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
              show: true,
              number: 1
            },
            methods: {
              toggleShow() {
                this.show = !this.show;
              },
              increaseNumber() {
                this.number++;
              }
            }
        })
    </script>
</body>
</html>